<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lpl.springcloud.dao.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.lpl.springcloud.model.Dept" >
    <id column="deptno" property="deptno" jdbcType="BIGINT" />
    <result column="dname" property="dname" jdbcType="VARCHAR" />
    <result column="db_source" property="dbSource" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dept
    where deptno = #{deptno,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lpl.springcloud.model.Dept" >
    insert into dept (deptno, dname, db_source
      )
    values (#{deptno,jdbcType=BIGINT}, #{dname,jdbcType=VARCHAR}, #{dbSource,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lpl.springcloud.model.Dept" >
    update dept
    set dname = #{dname,jdbcType=VARCHAR},
      db_source = #{dbSource,jdbcType=VARCHAR}
    where deptno = #{deptno,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select deptno, dname, db_source
    from dept
    where deptno = #{deptno,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select deptno, dname, db_source
    from dept
  </select>
</mapper>